/* = Root Declaration = */

:root {

  --spacing: .25rem;
}

/* = Reset = */

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

button {
  all: unset;
  cursor: pointer;

  &:focus-visible {
    outline: 2px solid ButtonText;  
  }
}

fieldset {
  border: none;
}

/* = Base - Typographie = */

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  line-height: 1.2;
} 

main {
  min-height: 100vh;
}

/* = Layout = */

#drum-machine {
  border: 1px solid black;
}

#pad-bank {
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

/* = Composants = */

#display {
  height: 2.5rem;
  border: 1px solid black;
}

.drum-pad {
  width: 80px;
  height: 80px;
  border: 1px solid black;
}

input[type="radio"] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

fieldset label {
  display: inline-flex;
  cursor: pointer;
  border: 1px solid black;
}

.volume-slider label {
  display: block;
}

/* = Utilitaires = */

.mb-2 { margin-bottom: calc(2 * var(--spacing)); }
.mb-3 { margin-bottom: calc(3 * var(--spacing)); }
.mb-4 { margin-bottom: calc(4 * var(--spacing)); }
.mb-7 { margin-bottom: calc(7 * var(--spacing)); }
.mb-12 { margin-bottom: calc(12 * var(--spacing)); }
.mb-20 { margin-bottom: calc(20 * var(--spacing)); }

.mL-4 { margin-left: calc(4 * var(--spacing)); }
.mL-6 { margin-left: calc(6 * var(--spacing)); }
.mL-8 { margin-left: calc(8 * var(--spacing)); }

.p-4 { padding: calc(4 * var(--spacing));}
.p-12 { padding: calc(12 * var(--spacing));}

.pT-2 { padding-top: calc(2 * var(--spacing)); }

.pR-2 { padding-right: calc(2 * var(--spacing)); }
.pR-3 { padding-right: calc(3 * var(--spacing)); }

.pX-4 { padding-inline: calc(4 * var(--spacing)); }
.pX-8 { padding-inline: calc(8 * var(--spacing)); }
.pX-24 { padding-inline: calc(24 * var(--spacing)); }

.pY-1 { padding-block: calc(1 * var(--spacing)); }
.pY-2 { padding-block: calc(2 * var(--spacing)); }
.pY-3 { padding-block: calc(3 * var(--spacing)); }
.pY-4 { padding-block: calc(4 * var(--spacing)); }

.br-s { border-radius: .5rem; }
.br-l { border-radius: 2rem; }

.pt-10wh { padding-top: 10vh; }
.pt-30wh { padding-top: 30vh; }

.bold { font-weight: bold; }
.italic { font-style: italic; }

.txt-indent { text-indent: 2.5rem; }

.grid { display: grid; }
.flex { display: flex; }
.wrap { flex-wrap: wrap; }
.column { flex-direction: column; }
.align-center { align-items: center; }
.align-start {align-items: flex-start; }
.justify-center { justify-content: center; }
.justify-between { justify-content: space-between; }

.hidden { visibility: hidden; }


/* = Etats = */
